.App {
  text-align: center;
  padding: 20px;
}

#selected-meme {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

input {
  font-size: 20px;
  text-align: center;
  border: none;
  background: rgba(255, 255, 255, 0.7);
}
